html,body{
    background-color: lightgray;
    height: 100%;
    margin: 0px;
    padding: 0;
    background-image: url('http://localhost/TrabalhoPHP/Livraria/imagens/background.jpg');
}

img{
    margin-top: 30px;
}

#login-form-container{
    height: 100%;

    float: right;
    width: 500px;
    background-color: #F4F5F6;
    padding-left: 20px;
    padding-right: 20px;
}

form{
    padding: 10px;
}